asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==18.1.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
coverage==4.5.1
cryptography==2.2.2
enum34==1.1.6
filemagic==1.6
funcsigs==1.0.2
idna==2.7
ipaddress==1.0.22
more-itertools==4.2.0
mutagen==1.40.0
pluggy==0.6.0
py==1.5.3
pycparser==2.18
pyOpenSSL==18.0.0
pytest==3.6.1
pytest-cov==2.5.1
pytest-rerunfailures==4.1
requests==2.19.1
six==1.11.0
TravisPy==0.3.5
urllib3==1.26.5
